<div style="text-align: center; background-color:#E5E5E5; border: 0; margin: 0; padding: 0; min-width: 100%; min-height: 100%; ">
  <div style="display:flex; padding-top: 64px; padding-bottom: 64px;">
    <div style="width: fit-content;
                margin-left: auto;
                margin-right: auto;
                box-shadow: 0px 4px 8px rgb(23 28 36 / 20%);
                border-radius: 4px;
                padding: 24px 64px 24px 64px;
                background-color: #FFF;
                text-align: center"
    >
      <h1>Crypto Bot</h1>
      <p style="margin: 8px">
        Hi <%= @username %>, here is your daily portfolio:
      </p>
      <ul class="responsive-table">
        <% @alerts.each do |alert| %>
          <li class="table-row" style="background-color: #ffffff; box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);">
            <div style="margin-left: 32px; margin-right: 32px" class="col col-1" data-label="Coin"><%= alert.coin.symbol %></div>
            <div style="margin-left: 32px; margin-right: 32px" class="col col-2" data-label="Price"><%= number_with_delimiter(alert.price) %><%= @currency %></div>
            <div style="margin-left: 32px; margin-right: 32px" class="col col-3" data-label="Variation" style="color: <%= alert.variation.positive? ? 'green' : 'red' %>">
              <%= alert.variation.round(2) %>%
            </div>
          </li>
        <% end %>
      </ul>
      <p>See you on the moon! 🚀</p>
    </div>
  </div>
  <img src="https://wi-images.condecdn.net/image/QjoeBmpJGnE/crop/1440/f/wired-uk-stonks.jpg" style="width: 50%; margin-bottom: 32px;">
</div>
